.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px;
}

.card h2 {
    margin-top: 0;
}

.lineup-slot,
.player {
    min-height: 2.6rem;
    line-height: 2.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    background-color: white;
    transition: background-color 0.3s;
}

.lineup-slot > .player {
    border: 0px;
    margin-bottom: 0;
}

.lineup-slot:hover,
.player:hover {
    background-color: #f9f9f9;
}

.lineup-slot.is-over {
    background-color: lightgreen;
}

.player.is-dragging {
    background-color: lightblue;
}

.simulate-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.simulate-results {
    text-align: center;
    margin-top: 20px;
}

.roster-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dropdown {
    min-width: 15rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z" fill="gray"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.dropdown:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
